<div class="alert alert-danger" role="alert" *ngIf="hasError">
  <div class="icon-container">
    <i class="fal fa-fw fa-exclamation-circle"></i>
  </div>
  <div class="alert-message">
        <span class="align-self-center">
            {{errorMessage}}
        </span>
  </div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class=“catalyst-form”>
  <div class="row justify-content-center">
    <div class="col-12">
      <fieldset class="card p-lg-4 p-md-3 p-2" id="loginFormSection">
        <div class="row">
          <legend class="col-form-label col-12 pb-3">Log In</legend>
        </div>

        <div class="fields">
          <div class="row pb-2">
            <div class="col-12 col-md-9">
              <div class="form-group">
                <label>Username
                  <input class="form-control" id="usernameField" name="field-username"
                         placeholder=" " type="text" formControlName="username">
                </label>
              </div>
            </div>
          </div>

          <div class="row pb-2">
            <div class="col-12 col-md-9">
              <div class="form-group">
                <label for="passwordField">Password
                  <input class="form-control" id="passwordField" name="field-password"
                         placeholder=" " type="password" formControlName="password">
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <input class="btn btn-primary btn-half-center" data-testid="submit-button" type="submit" [disabled]="!loginForm.valid" value="Log In"/>
              </fieldset>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
