<div class="alert alert-danger" role="alert" *ngIf="hasError">
  <div class="icon-container">
    <i class="fal fa-fw fa-exclamation-circle"></i>
  </div>
  <div class="alert-message">
        <span class="align-self-center">
            {{errorMessage}}
        </span>
  </div>
</div>

<div class="text-center col-lg-12 col-md-12">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class=“catalyst-form”>
    <div class="row">
      <div class="col-12">
        <fieldset class="card p-lg-4 p-md-3 p-2" id="loginFormSection">
          <div class="row">
            <legend class="col-form-label pb-4">Log In</legend>
          </div>

          <div class="fields">
            <div class="pb-2">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="emailField">E-mail Address
                    <input class="form-control" id="emailField" name="field-email"
                           placeholder=" " type="email" formControlName="email">
                  </label>
                </div>
              </div>
            </div>

            <div class="pb-2">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="passwordField">Password
                    <input class="form-control" id="passwordField" name="field-password"
                           placeholder=" " type="password" formControlName="password">
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-12">
                <fieldset>
                  <input class="btn btn-primary btn-half-center" data-testid="submit-button" type="submit" [disabled]="!loginForm.valid" value="Log In"/>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
