<footer class="catalyst-footer">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-9 order-1 order-md-0">
        <p class="float-left order-1 order-md-0 pt-2 pt-md-0"> © 2022 Liberty IT
          | Powered by <a target="_blank" href="https://catalyst-catalog.lmig.com/#/">Catalyst</a></p>
      </div>
      <div class="col-12 col-md-3 order-0 order-md-1" id="language-select">
        <p class="float-right order-0 order-md-1">Training Academy 2022</p>
      </div>
    </div>
  </div>
</footer>
