<div class="container text-center">
  <h1 class="display-2 pt-2">Welcome to LibertyIn</h1>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
      <app-login></app-login>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
      <app-register></app-register>
    </div>
  </div>
</div>
