<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="/users/self">
      <img src="assets/images/logo-1.png" alt="Liberty Mutual Logo" class="d-inline-block align-top liberty-logo header-links">
    </a>
    <h4 routerLink="/users/self" class="m-0 ml-3 d-none d-md-inline-block text-truncate header-links" id="pageTitle"> LibertyIn </h4>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <div class="row">
            <div class="col-12">
              <div class="form-group form-group-icon icon-right">
                <i class="fal fa-fw fa-search input-icon"></i>
                <form class="example-form" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                  <input type="text"

                         id="search"
                         placeholder="Search"

                         [matAutocomplete]="auto"
                         [matAutocompleteConnectedTo]="origin">
                  <mat-autocomplete #test #auto="matAutocomplete">
                    <mat-option *ngFor="let name of userList | async" [value]="" (click)="showUser(name.email)" >
                      <img width="4%" height="4%" src="https://mpng.subpng.com/20190221/gw/kisspng-computer-icons-user-profile-clip-art-portable-netw-c-svg-png-icon-free-download-389-86-onlineweb-5c6f7efd8fecb7.6156919015508108775895.jpg"> -
                      <b>{{name.firstName}} {{name.lastName}}</b> {{name.jobTitle}} - Skills: <small>Typescript, Angular, Java, javascript </small>- Qualifications: <small>AWS Certification</small>
                    </mat-option>

                  </mat-autocomplete>

                </form>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <h6 class="nav-link header-links" href="#" id="discover" routerLink="discover" (click)="onDiscover()">Discover</h6>
        </li>
        <li class="nav-item">
          <button *ngIf="!isLoggedOn" class="btn btn-rounded btn-primary" id="logout" (click)="onLogOut()">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
