<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="/users/self">
      <img src="assets/images/logo-1.png" alt="Liberty Mutual Logo" class="d-inline-block align-top liberty-logo header-links">
    </a>
    <h4 routerLink="/users/self" class="m-0 ml-3 d-none d-md-inline-block text-truncate header-links" id="pageTitle"> LibertyIn </h4>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <div class="row">
            <div class="col-12">
              <div class="form-group form-group-icon icon-right">
                <i class="fal fa-fw fa-search input-icon"></i>
                <input autocomplete="off" type="text" class="form-control" id="search" name="search" placeholder=" ">
                <label for="search">Search</label>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <h6 class="nav-link header-links" href="#" id="discover" routerLink="discover">Discover</h6>
        </li>
        <li class="nav-item">
          <button *ngIf="!isLoggedOn" class="btn btn-rounded btn-primary" id="logout" (click)="onLogOut()">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
