.container {
  background-color: #EFEFEF;
  height: 100%;
  margin-bottom: 5%;
}

.user-profile-pic {
  border-radius: 50%;
  width: 100px
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
}
