.container {
  background-color: #EFEFEF;
  height: 100%;
}

.user-profile-pic {
  border-radius: 50%;
  width: 100px
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card {
  width: 75%;
}
