<app-header></app-header>

<div class="container">
  <div class="header p-1">
    <h1 class="display-3">Your Profile</h1>
  </div>

  <div class="user-info d-flex flex-column align-items-start">
    <div class="user-personal-info d-flex flex-row mb-3">
      <img src="../../../assets/images/placeholder_image.png" class="user-profile-pic mr-3">
      <div class="flex-column">
        <h1 class="display-4">John Doe</h1>
        <div class="d-flex align-items-start">
          <p class="pr-3"><b>Associate Software Engineer</b></p>
          <p><b>Training Academy 2022</b></p>
        </div>
      </div>
    </div>
    <div class="user-skills d-flex flex-row">
      <h1 class="display-4">Skills and Certifications</h1>
    </div>
    <div class="user-team">
      <h1 class="display-4">Team</h1>
      <div class="d-flex flex-row team-cards mb-3">
        <div class="card col-sm-3 col-md-3 col-lg-3">
          <img class="card-img-top" src="../../../assets/images/placeholder_image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Employee Name</h5>
            <p class="card-text">Employee Job Title</p>
          </div>
        </div>
        <div class="card col-sm-3 col-md-3 col-lg-3">
          <img class="card-img-top" src="../../../assets/images/placeholder_image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Employee Name</h5>
            <p class="card-text">Employee Job Title</p>
          </div>
        </div>
        <div class="card col-sm-3 col-md-3 col-lg-3">
          <img class="card-img-top" src="../../../assets/images/placeholder_image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Employee Name</h5>
            <p class="card-text">Employee Job Title</p>
          </div>
        </div>
        <div class="card col-sm-3 col-md-3 col-lg-3">
          <img class="card-img-top" src="../../../assets/images/placeholder_image.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Employee Name</h5>
            <p class="card-text">Employee Job Title</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
