<div class="container">
  <div class="header p-1">
    <h1 class="display-3">Your Profile</h1>
  </div>

  <div class="user-info d-flex flex-column align-items-start">
    <div class="user-personal-info d-flex flex-row mb-3 pb-4">
      <img id="empImg" src="../../../assets/images/profile-placeholder.png" class="user-profile-pic mr-3" alt="Profile Picture">
      <div class="flex-column">
        <h1 class="display-4" id="empName">John Doe</h1>
        <div class="d-flex align-items-start">
          <p class="pr-3" id="empJobTitle"><b>Associate Software Engineer</b></p>
          <p id="empTeam"><b>Training Academy 2022</b></p>
        </div>
      </div>
    </div>
    <div class="user-skills pb-4">
      <span><h1 class="display-4 skills-header">Skills and Certifications</h1><button class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#skillsModal">Edit Skills</button></span>
      <h4>Personal Skills</h4>
      <div class="skill-cards">
        <div id="empPersonalSkills" class="col-md-4" *ngFor="let skill of skills">
            <div class="card mb-1">
              <div class="card-body">
                <h5 class="card-title" id="empSkillName">{{skill.name}}</h5>
                <p class="card-text" id="empSkillDetail">{{skill.details}}</p>
              </div>
            </div>
        </div>
      </div>
      <h4>Certifications</h4>
      <div class="skill-cards">
        <div id="empCertifications" class="col-md-4" *ngFor="let cert of certs">
            <div class="card mb-1">
              <div class="card-body">
                <h5 class="card-title" id="empCertName">{{cert.name}}</h5>
                <p class="card-text" id="empCertDetail">{{cert.details}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="user-team flex-row">
      <h1 class="display-4">Team</h1>
      <p class="teamName"><b>Training Academy 2022 Dream Team</b></p>
      <div class="team-cards">
        <div *ngFor="let employee of teamMembers">
          <div class="card mb-1 team-card">
            <img class="card-img-top" id="teamEmpImg" src="{{employee.img}}" alt="Employee Profile Image">
            <div class="card-body">
              <h5 class="card-title" id="teamEmpName">{{employee.name}}</h5>
              <p class="card-text" id="teamEmpJobTitle">{{employee.position}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-skills-edit></app-skills-edit>
</div>
