<nav class="navbar navbar-expand-lg navbar-light bg-primary d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="assets/images/logo-1.png" alt="Liberty Mutual Logo" class="d-inline-block align-top liberty-logo">
    </a>
    <h4 class="m-0 ml-3 d-none d-md-inline-block text-truncate" id="pageTitle"> LibertyIn </h4>
  </div>
</nav>

<div class="container">
  <h1>404 - Page Not Found</h1>
  <button class="btn btn-rounded btn-primary" routerLink="/users/self">Return to your profile</button>
</div>
